.Carousel {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.dot_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dot {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #bbb;
  border-radius: 50%;
  margin: 1.25rem;
}

.dot:hover {
  cursor: pointer;
  background-color: black;
  transition: 0.5s;
}

h1,
h3 {
  font-family:'Times New Roman', Times, serif;
}